body {
    font-family: "Merriweather", sans-serif;
    font-size: 0.9rem;
    background-image : linear-gradient(rgba(7, 7, 7, 0.8), rgba(7, 7, 7, 0.8)),
                       url("images/philipp-trubchenko-jObj_p885Gg-unsplash.jpg");
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

.card {
    margin: 5px;
    border-style: none;
}
.card-header {
    font-weight: bold;
    font-size: 0.9rem;
}

.card-body {
    color:black;
    background-color: white;
}

.bg-gray {
    background-color: #636569;
    color: white;
}


